<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">

  <!--
    字段名和属性不一致的情况，如何处理映射关系
    1.为查询的字段设置别名，和属性名保持一致
    2.档字段符合mysql的要求使用，而属性符合java的要求使用驼峰
    此时可以在mybatis的核心配置文件中设置一个全局配置，可以自动将下划线映射为驼峰
    3.使用resultMap进行映射
  -->

  <!--用于区分resultMap-->
  <select id="getEmpByEmpIdOld" resultType="emp" >
    select * from t_emp where emp_id = #{empId}
  </select>

  <resultMap id="empResultMap" type="Emp">
    <id column="emp_id" property="empId"></id>  <!--id 设置主键和实体类中属性的映射关系-->
    <result column="emp_name" property="empName"></result>  <!--result: 设置普通字段和实体类中主键的映射关系-->
    <result column="age" property="age"></result>
    <result column="gender" property="gender"></result>
  </resultMap>

  <select id="getEmpByEmpId" resultMap="empResultMap" >
    select * from t_emp where emp_id = #{empId}
  </select>


  <!--多表查询，使用级联方式-->
  <resultMap id="empAndDeptResultMapOne" type="Emp">
    <id column="emp_id" property="empId"></id>
    <result column="emp_name" property="empName"></result>
    <result column="age" property="age"></result>
    <result column="gender" property="gender"></result>
    <result column="dept_id" property="dept.deptId"></result>
    <result column="dept_name" property="dept.deptName"></result>
  </resultMap>

  <resultMap id="empAndDeptResultMap" type="Emp">
    <id column="emp_id" property="empId"></id>
    <result column="emp_name" property="empName"></result>
    <result column="age" property="age"></result>
    <result column="gender" property="gender"></result>
    <!--
      association:处理一对一的映射关系（处理实体类类型的属性）
      property:设置需要处理映射关系的属性的属性名
      javaType:设置要处理的属性的类型
    -->
    <association property="dept" javaType="Dept">
      <id column="dept_id" property="deptId"></id>
      <result column="dept_name" property="deptName"></result>
    </association>
  </resultMap>
  <select id="getEmpAndDeptByEmpId" resultMap="empAndDeptResultMap">
    select * from t_emp left join t_dept on t_emp.dept_id = t_dept.dept_id where t_emp.emp_id = #{empId}
  </select>

  <!--分步查询-->
  <resultMap id="empAndDeptByStepResultMap" type="Emp">
    <id column="emp_id" property="empId"></id>
    <result column="emp_name" property="empName"></result>
    <result column="age" property="age"></result>
    <result column="gender" property="gender"></result>
    <!--
      select:设置分步查询的sql的唯一标识
      column:将查询出来的某个字段作为分步查询的sql的条件
      fetchType: 在开启延迟加载后，可指定当前的分布查询是否使用延迟加载，eager为立即加载，lazy为延迟加载
    -->
    <association property="dept" fetchType="lazy" select="com.atguigu.mybatis.mapper.DeptMapper.getEmpAndDeptByStepTwo" column="dept_id">
    </association>
  </resultMap>
  <select id="getEmpAndDeptByStepOne" resultMap="empAndDeptByStepResultMap">
    select * from t_emp where emp_id = #{empId}
  </select>

</mapper>