<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.DynamicSQLMapper">

  <select id="getEmpByConditionOne" resultType="emp">
    select * from t_emp where 1=1
    <if test="empName != null and empName != ''">
      and emp_name = #{empName}
    </if>
    <if test="age != null and age != ''">
     and age = #{age}
    </if>
    <if test="gender != null and gender != ''">
      and gender =#{gender}
    </if>
  </select>

  <!--使用where动态标签-->
  <!--
    where
    1.若where标签中俄条件成立，会生成where关键字
    2.会自动将where标签中内容前多余的and去掉
    3.若where标签中没有任何一个条件成立，则where没有任何作用
  -->
  <select id="getEmpByConditionWhere" resultType="emp">
    select * from t_emp
    <where>
      <if test="empName != null and empName != ''">
        emp_name = #{empName}
      </if>
      <if test="age != null and age != ''">
        and age = #{age}
      </if>
      <if test="gender != null and gender != ''">
        and gender =#{gender}
      </if>
    </where>

  </select>

  <!--
    trim
    包含prefix、suffix、prefixOverrides、suffixOverrides四个属性
    prefix、suffix：在标签中内容的前面或后面添加指定内容
    prefixOverrides、suffixOverrides：在标签中内容的前面或后面删除指定内容
  -->
  <select id="getEmpByCondition" resultType="emp">
    select * from t_emp
    <trim prefix="where" suffixOverrides="and">
      <if test="empName != null and empName != ''">
        emp_name = #{empName} and
      </if>
      <if test="age != null and age != ''">
        age = #{age} and
      </if>
      <if test="gender != null and gender != ''">
        gender =#{gender}
      </if>
    </trim>

  </select>

  <!--
    choose、when、otherwise
    相当于java中的if...else if...else
    when至少设置一个，otherwise最多设置一个
  -->
  <select id="getEmpByChoose" resultType="emp">
    select * from t_emp
    <where>
      <choose>
        <when test="empName != null and empName != ''">
          emp_name = #{empName}
        </when>
        <when test="age != null and age != ''">
          age = #{age}
        </when>
        <when test="gender != null and gender != ''">
          gender =#{gender}
        </when>
      </choose>
    </where>
  </select>

</mapper>