<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="studentOne" class="com.atguigu.spring.pojo.Student"></bean>

  <!--set注入
    property：通过成员变量的set方法进行赋值
    name：设置需要赋值的属性名（和set方法有关）
    value：设置为属性所赋的值
  -->
  <bean id="studentTwo" class="com.atguigu.spring.pojo.Student">
    <property name="sid" value="1001"></property>
    <property name="sname" value="张三"></property>
    <property name="age" value="23"></property>
    <property name="gender" value="男"></property>
  </bean>

  <!--
    构造器注入
  -->
  <!--<bean id="studentThree" class="com.atguigu.spring.pojo.Student">
    <constructor-arg value="1002"></constructor-arg>
    <constructor-arg value="李四"></constructor-arg>
    <constructor-arg value="25" name="age"></constructor-arg>
    <constructor-arg value="女"></constructor-arg>
  </bean>-->

  <bean id="studentFour" class="com.atguigu.spring.pojo.Student">
    <property name="sid" value="1001"></property>
    <property name="sname" value="张三"></property>
    <property name="age" value="23"></property>
    <property name="gender"> <!--可以通过null标签，对gender属性赋空值-->
      <null></null>
    </property>
  </bean>

  <bean id="studentFive" class="com.atguigu.spring.pojo.Student">
    <property name="sid" value="1004"></property>
    <property name="sname" value="王五"></property>
    <property name="age" value="23"></property>
    <property name="gender" value="男"></property>
    <!--ref:引用IOC容器中的某个bean的id-->
    <property name="clazz" ref="clazzOne"></property>
    <!--数组类型赋值-->
    <property name="hobby">
      <array>
        <value>吃</value>
        <value>喝</value>
        <value>玩</value>
        <value>乐</value>
      </array>
    </property>
    <property name="teacherMap">
      <map>
        <entry key="1000" value-ref="teacherOne"></entry>
        <entry key="1001" value-ref="teacherTwo"></entry>
      </map>
    </property>
  </bean>

  <bean id="clazzOne" class="com.atguigu.spring.pojo.Clazz">
    <property name="cid" value="1001"></property>
    <property name="cname" value="班级"></property>
    <property name="students">
      <list>
        <ref bean="studentOne"></ref>
        <ref bean="studentTwo"></ref>
        <ref bean="studentFour"></ref>
      </list>
    </property>
  </bean>

  <bean id="teacherOne" class="com.atguigu.spring.pojo.Teacher">
    <property name="tid" value="1000"></property>
    <property name="tname" value="小宝"></property>
  </bean>

  <bean id="teacherTwo" class="com.atguigu.spring.pojo.Teacher">
    <property name="tid" value="1001"></property>
    <property name="tname" value="小宝宝"></property>
  </bean>

  <bean id="studentSix" class="com.atguigu.spring.pojo.Student" p:sid="1005" p:sname="小红"></bean>

</beans>