<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="studentOne" class="com.atguigu.spring.pojo.Student"></bean>

  <!--set注入
    property：通过成员变量的set方法进行赋值
    name：设置需要赋值的属性名（和set方法有关）
    value：设置为属性所赋的值
  -->
  <bean id="studentTwo" class="com.atguigu.spring.pojo.Student">
    <property name="sid" value="1001"></property>
    <property name="sname" value="张三"></property>
    <property name="age" value="23"></property>
    <property name="gender" value="男"></property>
  </bean>

</beans>